#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: white;
  /* height: 700px; */
}

input,
input:focus-visible {
  outline: none !important;
}

.card {
  padding: 2em;
}

.MuiAutoComplete-root.MuiInputBase-input {
  height: 42px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

input {
  color: black !important;
}
